.navigation{
    max-height: 50px;
    background-color: antiquewhite;
    display:flex;
    justify-content:space-evenly;
}
.nav-item{
    list-style: none;
}
.nav-link{
    padding:6px;
    border:none;
    color:red;
    font-size:18px;
}